<!DOCTYPE html>
<html>

<head>
  <title>{{ ansible_distribution | lower }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  Welcome to {{ ansible_distribution | lower }} on {{ ansible_nodename }}
</body>
</html>
