<VirtualHost *:80>
        ServerAdmin webmaster@localhost
        DocumentRoot {{ httpd_webroot }}
        DirectoryIndex index.html
        
        LogLevel warn

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
