server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root /var/www/html;

        server_name _;

        location / {
          add_header Content-Type text/plain;
          return 200 'Nothing to do here';
        }

       location /ubuntu {
         proxy_set_header Host $host;
         proxy_set_header    X-Real-IP       $remote_addr;
         proxy_set_header    X-Forwarded-for $remote_addr;
         proxy_pass {{ nginx_ubuntu_url }}; 
       }
      
       location /centos {
         proxy_set_header Host $host;
         proxy_set_header    X-Real-IP       $remote_addr;
         proxy_set_header    X-Forwarded-for $remote_addr;
         proxy_pass {{ nginx_centos_url }};
       }
}
